<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fgo.management.mapper.BusinessDetailMapper">
    <insert id="merge">
        INSERT INTO boosting_detail
        (orderId,
         businessType,
         status,
         boostingTask,
         progress,
         createTime,
         lastUpdateTime,
         target)
        VALUES (#{bean.orderId},
                #{bean.businessType},
                #{bean.status},
                #{bean.boostingTask},
                #{bean.progress},
                #{bean.createTime},
                #{bean.lastUpdateTime},
                #{bean.target})
        ON DUPLICATE KEY UPDATE boostingTask = #{bean.boostingTask},
                                status       = 'N',
                                target       = #{bean.target}
    </insert>
    <update id="update">
        UPDATE boosting_detail
        SET boostingTask = #{bean.boostingTask},
           <!-- 因为有追加进来 就是待代练的状态-->
            status       = #{bean.status},
            progress     = #{bean.progress},
            modifyTime   = #{bean.modifyTime}
        WHERE orderId = #{bean.orderId}
          AND businessType = #{bean.businessType}
    </update>
    <update id="updateProgress">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update boosting_detail
            SET
            lastUpdateTime=#{item.lastUpdateTime},
            progress = #{item.progress},
            status = #{item.status},
            modifyTime = #{item.modifyTime}
            where orderId = #{item.orderId}
            and businessType = #{item.businessType}
            <if test="item.status.equals('D')">
                and modifyTime &lt;= #{item.modifyTime}
            </if>
        </foreach>
    </update>
    <delete id="delete">
        DELETE
        FROM boosting_detail
        WHERE orderId = #{orderId}
          AND businessType = #{businessType}
    </delete>
    <select id="queryByOrderId" resultType="com.fgo.management.model.BoostingDetail">
        SELECT orderId, businessType, boostingTask, status
        FROM boosting_detail
        WHERE orderId = #{orderId}
    </select>
    <select id="queryProgressByOrderId" resultType="com.fgo.management.model.BoostingDetail">
        SELECT businessType, progress, target, createTime, lastUpdateTime
        FROM boosting_detail
        WHERE orderId = #{orderId}
    </select>
    <select id="queryByOrderIdAndTypeWithLock" resultType="com.fgo.management.model.BoostingDetail">
        select *
        from boosting_detail
        where orderId = #{orderId}
          AND businessType = #{type}
            for
        update
    </select>
    <select id="queryUnfinishedBoosting" resultType="java.lang.Integer">
        SELECT SUM(temp.total)
        from (SELECT COUNT(*) total
              FROM boosting_detail
              WHERE orderId = #{orderId}
                AND status != 'D'
              UNION ALL
              SELECT COUNT(*) total
              FROM multi_progress
              WHERE orderId = #{orderId}
                AND status != 'D') temp
    </select>

</mapper>