<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fgo.management.mapper.ParamConfigMapper">
    <update id="updateParamValue">
        UPDATE param_config
        SET paramValue = #{value}
        WHERE rootParam = #{root}
          AND subParam = #{sub}
    </update>
    <insert id="mergeBusinessOrder">
        INSERT INTO param_config
        (rootParam,
         subParam,
         paramDesc,
         paramValue)
        values ('BUSINESS',
                'ORDER',
                '业务执行顺序',
                #{value})
        ON DUPLICATE KEY
            UPDATE paramValue = #{value}
    </insert>
    <select id="queryByParam" resultType="com.fgo.management.model.ParamConfig">
        SELECT *
        FROM fgomanagement.param_config
        WHERE rootParam = #{root}
          AND subParam = #{sub}
    </select>
</mapper>