<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fgo.management.mapper.UserMapper">
    <select id="queryUserByUserAccount" resultType="com.fgo.management.model.UserAccount">
        SELECT `ID`,
               `ACCOUNT`,
               userName,
               userRole
        FROM USER_ACCOUNT_T
        WHERE `ACCOUNT` = #{userAccount.account}
          AND encryptionCode = #{userAccount.password}
    </select>
</mapper>